
@import '../../styles/shared.scss';

.screen {
  // Header
  margin-top: 56px;
  text-align: left;

  &__content {
    padding: 0 20px;
    min-height: calc(100vh - 56px);

    &--centered {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
