dist: bionic

language: php

php:
  - 7.3

services:
  - postgresql

cache:
  directories:
    - node_modules
    - vendor

before_script:
  - cp .env.travis .env
  - psql -c 'create database testing;' -U postgres
  - composer self-update
  - composer install --no-interaction
  - php artisan migrate --seed --no-interaction -vvv

script:
  - vendor/bin/phpunit --coverage-clover=coverage.xml

after_success:
  - bash <(curl -s https://codecov.io/bash)
