
// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 2rem;
    font-weight: 100;
    background-color: #ffffff;
}

$base-color: rgba(0,0,0,1);
//
// h1, h2, h3, h4, h5, h6 {
//     margin-top: 0;
//     margin-bottom: 0;
// }

.navbar {
    margin-bottom: 10px;
}

ul.categoryList > li {
    padding: 1.2rem 0;
    border-bottom: 1px solid #eeeeee;
}

.noMargin {
    margin: 0;
}

.noPadding {
    padding: 0;
}

.clear {
    clear: both;
}

.right {
    text-align: right;
}

.container {
    //min-width: 1020px;
}

.center {
    text-align: center;
}

ul {
    padding: 0;
}
li {
    list-style: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.red {
    color: rgba(229,57,53 ,1);
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    10% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    15% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    100%,
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}
@keyframes pulsing {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    5% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
    10% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
    }
    15% {
        -webkit-transform: scale(1.3);
        transform: scale(1.3)
    }
    100%,
    50% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.pulse {
    -webkit-animation: pulsing 2.5s infinite;
    animation: pulsing 2.5s infinite;
}

.border-bottom {
    border-bottom: 1px #e5e5e5 solid;
}

.description {
    padding-bottom: 0.6rem;
}

.grayOut {
    //color: lighten( $base-color, 40% )
}

ul.petitionsList > li {
    padding: 1.2rem 0;
}

li.petition {
    .name {
        margin-bottom: 4px
    }
    .meta {
        font-size: .875rem;
        span {
            padding-right: 1.14rem;
        }
    }
    .graphContainer canvas {
        //max-height: 50px;
    }
}

h3 {
    font-size: 1.4rem;
}

.stats {
    display: block;

    .daily {
        font-size: 8rem;
        margin-bottom: -0.3em;
        text-align: center;
    }

    .weekly, .monthly {
        font-size: 2rem;
        margin-bottom: -0.3em;
    }

    .label {
        font-size: 1rem;
    }

    .dailyContainer {
        margin-bottom: -0.8rem;
    }
}

.greenBg {
    background-color: #00f3a5;
    color: rgba(0,0,0,.6);
    footer {
        color: #ffffff;
        a, a:hover, a:link, a:active {
            color: #ffffff;
        }
    }
}

.about {
    //font-size: 2rem;
}

.stats-header {
    padding-bottom: 1em;
}

.smallGraph {
    max-height: 3.5rem;
}

.petitionNumber {
    font-size: 5rem;
}

@media (min-width: 768px) {

    .petitionNumber {
        font-size: 6.8vw;
        margin-bottom: 1rem;
    }

}
