
$c-white: #ffffff;
$c-black: #000000;
$c-yellow: #ffd900;

$c-background: $c-white;
$c-text: #011638;
$c-text-detail: #76747B;
$c-interactive: #8e60d8;
$c-shaded: #D8DBE2;
$c-shaded-line: #76747B;
$c-line: #D8DBE2;
