
@import '../../styles/shared.scss';

.field-text {

  &__label {
    display: block;
    @extend %t-text;
    padding-bottom: 8px;
  }

  &__input {
    padding: 8px 16px;
    border: 1px solid $c-line;
  }
}
