
@import '../../styles/shared.scss';

.store-display {
  min-height: 100vh;
  background: $c-black;

  &__orders {
    display: flex;
    flex-direction: column;
    padding-bottom: 50vh;
  }

  &__order {
    display: flex;
    width: 100%;
    margin-top: 2px;
    background: $c-white;
  }

  &:focus-within &__order {
    opacity: 0.6;
  }

  &:focus-within &__order:focus {
    opacity: 1.0;
  }

  &__order-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
    width: 180px;
    background: $c-interactive;
    color: $c-white
  }

  &__order-head {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__order-icon {
    line-height: 0;
  }

  &__order--canceled &__order-header {
    background: $c-white;
    color: $c-text;
  }

  &__order--canceled &__order-number {
    text-decoration: line-through;
  }

  &__order--completed &__order-header {
    background: $c-white;
    color: $c-text;
  }

  &__order-table {
    font-size: 40px;
    line-height: 48px;
  }

  &__order-body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-grow: 1;
    flex-basis: 0;
    padding: 16px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    align-items: center;
    padding-right: 8px;
    margin: 0 8px 8px 0;
    border-radius: 12px;
    background: #f2f4f6;
    --product-color: #{$c-interactive};
  }

  &__item-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    padding: 0 12px;
    border-radius: 20px;
    background: var(--product-color);
    color: $c-white;
    @extend %t-h2;
  }

  &__item-name {
    padding: 4px 8px 4px 8px;
  }

  &__order-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    border-radius: 14px;
    border: 1px solid currentColor;
  }

  &__order-assignee {
    @extend %t-h3;
  }

  &__order-note {
    padding-left: 8px;
  }
}
