
@import '../../styles/shared.scss';

.item-list {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 16px;
    padding: 8px 16px 8px 0;
    --product-color: #{$c-interactive};

    & + & {
      border-top: 1px solid var(--c-line);
    }
  }

  &__item-header {
    display: block;
    flex-grow: 1;
    flex-basis: 0;
    overflow: hidden;
  }

  &__item-name {
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__item-detail {
    color: $c-text-detail;
  }

  &__item-spinner {
    padding-left: 8px;
  }

  &__section-header {
    position: sticky;
    top: 56px;
    padding: 8px 20px;
    background: $c-shaded;
    @extend %t-h3;
  }
}
